@import "common/mixin.scss";
@import "common/vars.scss";
@import "common/common.scss";
@import "common/form.scss";
@import "common/grid.scss";
@import "common/header.scss";
@import "common/category.scss";
@import "./main/main.scss";

@import "common/cart.scss";

// OTHER

.content {
    grid-gap: var(--card-row-gap) var(--card-col-gap);
    @include space(margin, bottom, 4.2rem);

    @media (max-width: $media-lg) {
        --card-row-gap: 13px;
        --card-col-gap: 22px;
        --span: 12;
    }

    @media (max-width: $media-md) {
        --card-row-gap: 24px;
    }
}

// ICONS

.icon-logo {
    width: 88px;
    height: 72px;
    fill: none;
    max-width: 100%;
}

.icon_phone {
    fill: white;
}
