<template id="product-card">
    <div class="grid-item grid-card cards">
        <article class="cards__item card">
            <div class="img-wrapper">
                <div class="img-inner">
                    <img src="" alt="" class="img">
                </div>
            </div>
            <div class="card-body">
                <h3 class="card-body__title"></h3>
                <div class="card-body__price"><span class="card-body__price--val"></span><span
                        class="card-body__price--currency"></span>
                </div>
                <div class="card-body__btn">
                    <button class="btn btn--s btn-card">В корзину</button>
                </div>
            </div>
        </article>
    </div>
</template>