<template id="product-info">
    <div class="product-card grid">
        <!-- IMG -->
        <div class="grid-item grid-item--5 product-card__aside">
            <div class="product-card__img-wrapper">
                <img class="product-card__img" src="../../img/dog-1.png" alt="">
            </div>
        </div>

        <!-- INFO -->
        <div class="grid-item grid-item--7 product-card__main">
            <div class="product-info__title">Характеристика Айну</div>

            <ul class="product-info">
            </ul>

            <div class="product-info__price--title">Стоимость</div>
            <div class="product-info__price"><span class="product-info__price--val">12 000</span> <span class="product-info__price--currency">₽</span>
            </div>
            <div class="product-info__btn-wrapper">
                <button class="btn btn--theme-main product-info__btn js-btn-order">Забрать</button>
                <button class="btn btn--theme-white product-info__btn product-info__btn--sm js-btn-add">Добавить
                    в корзину</button>
            </div>
        </div>
    </div>
</template>