<template>
    <div class="cart hide">
        <div class="cart__header">
            <h3 class="cart__title">
                Ваша корзина
            </h3>
            <button class="btn btn--sm btn--f cart__btn">
                <svg class="" width="14" height="14">
                    <use xlink:href="../../icons/main_0.svg#cancel"></use>
                </svg>
            </button>
        </div>
        <ul class="products cart__products">
            <li class="products__item product product--header">
                <div class="product__cb">
                    <label for="id-1" class="product__label cb">
                        <input class="product__field cb__input" id="id-1" type="checkbox">
                        <div class="product__img--wrp cb__content">
                            Выбрать всё
                        </div>
                    </label>
                </div>

                <div class="product__del">
                    <button class="btn btn--sm product__del-btn">
                        Удалить всё
                    </button>
                </div>
                <div class="product__cart-icon product__cart-icon--rst">
                    <button class="btn btn--sm btn--f">
                        <svg class="" width="18" height="18">
                            <use xlink:href="../../icons/main_0.svg#trash"></use>
                        </svg>
                    </button>
                </div>
            </li>

            <li class="products__item product">
                <div class="product__cb">
                    <label for="id-1" class="product__label cb">
                        <input class="product__field cb__input" id="id-1" type="checkbox">
                        <div class="product__img--wrp cb__content">
                            <img src="../../img/dog-1.png" alt="Айну" class="product__img">
                        </div>
                    </label>
                </div>
                <div class="product__title">Айну</div>
                <div class="product__qnt product-qnt">
                    <button class="product-qnt__btn btn btn--sm">-</button>
                    <span class="product-qnt__item">1</span>
                    <button class="product-qnt__btn btn btn--sm">+</button>
                </div>
                <div class="product__price">12000
                    <span class="product__price--currency">₽</span>
                </div>
                <div class="product__cart-icon">
                    <button class="btn btn--sm btn--f">
                        <svg class="" width="18" height="18">
                            <use xlink:href="../../icons/main_0.svg#trash"></use>
                        </svg>
                    </button>
                </div>
            </li>

            <li class="products__item product">
                <div class="product__cb">
                    <label for="id-1" class="product__label cb">
                        <input class="product__field cb__input" id="id-1" type="checkbox">
                        <div class="product__img--wrp cb__content">
                            <img src="../../img/dog-3.png" alt="Айну" class="product__img">
                        </div>
                    </label>
                </div>
                <div class="product__title">Афганская Борзая</div>
                <div class="product__qnt product-qnt">
                    <button class="product-qnt__btn btn btn--sm">-</button>
                    <span class="product-qnt__item">1</span>
                    <button class="product-qnt__btn btn btn--sm">+</button>
                </div>
                <div class="product__price">12000
                    <span class="product__price--currency">₽</span>
                </div>
                <div class="product__cart-icon">
                    <button class="btn btn--sm btn--f">
                        <svg class="" width="18" height="18">
                            <use xlink:href="../../icons/main_0.svg#trash"></use>
                        </svg>
                    </button>
                </div>
            </li>
        </ul>

        <div class="cart__total">
            <span class="cart__total--qnt">2</span> товара на сумму
            <span class="cart__total--sum">
                27000<span class="cart__total--sum-currency">₽</span>
            </span>
        </div>
        <div class="cart__btn">
            <button class="btn btn-main btn--s">
                Оформить заказ
            </button>
        </div>
    </div>
</template>