
// CARDS
.card {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;

    & > * {
        flex: 1 1 100%;
    }

    &-body {
        display: flex;
        flex-wrap: wrap;
        @include space(padding, all, 8px, 14px, 14px, 14px);

        &__title {
            flex: 1 1 100%;
            @include font(1.6rem, inherit, 2rem);
            @include space(margin, bottom, 4px);
            transition: all 300ms ease-in;
        }

        &__price {
            flex: 1 1 100%;
            @include font(2rem, 500, 2.4rem);

            &--currency {
                @include font(inherit, inherit, inherit);
            }

            @include space(margin, bottom, 8px);
        }

        &__btn {
            flex: 1 1 100%;
            align-self: flex-end;

            & > .btn-card {
                @include font(inherit, 500, 1.7rem);

                @media (max-width: $media-lg) {
                    padding: 12px 20px;
                }
            }
        }
    }

    &:hover {
        .card-body {
            &__title {
                color: var(--main-color);
            }
        }
    }
}