
.filter {
    background-color: var(--filter-bg);
    border-radius: 8px;

    &__title {
        @include space(padding, all, 1.6rem, 1.6rem, 1.4rem, 1.6rem);
        @include font(1.6rem, 500, 1.7rem);
        

    }

    &__btn{
        display: none;
    }
    @media (max-width: $media-lg) {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;    
        height: 100%;
        max-width: 320px;
        border-radius: 0px;
        box-shadow: 0 0 0 9999px rgba(0,0,0, 0.5);
        &__title{
            text-align: center;
        }
        &__btn{
            width: 20px;
            height: 20px;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            // @extend %centered;
            & > svg{
                max-width: 100%;
            }
        }
    }
}

.filter-toggle {
    display: none;
    & > .btn-filter {
        @extend %centered;
        @include font(1.6rem, 500, 2rem, #fbba3c);
        @include space(margin, bottom, 1.6rem);

        & > span {
            @include space(margin, left, 0.5rem);
        }
    }
    @media (max-width: $media-lg) {
        display: block;
    }
}

.filter-section {
    padding: 14px 16px;

    &__body {
        display: flex;
        flex-direction: column;
        padding-bottom: 14px;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 14px;
    }

    &__link {
        display: block;
    }

    &__title {
        @include font(inherit, 600, 1.7rem);
    }

    &__form {
        max-width: 280px;
        @include space(margin, bottom, 14px);
    }
}

.filter-list {
    @include space(margin, bottom, 8px);

    &__item {
        margin-bottom: 8px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

// RANGE-LIST
.range-list {
    display: flex;
    // justify-content: space-between;

    &__item {
        display: flex;
        align-items: center;
        @include space(margin, right, 14px);

        & > .input-text {
            text-align: center;
            @include font(1.4rem, inherit, 1.7rem);
            padding: 8px 14px;
            max-width: 70px;
            max-height: 30px;
        }

        & > label {
            @include space(margin, right, 14px);
        }
    }
}

.divider {
    border-bottom: 1px solid#E8E8E8;
}