
.breadcrumps {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    height: 98px;
    &__title {
        @include space(margin, top, 1.4rem);
        @include font(3.2rem, 600, 3.9rem);
    }
    &-list {
        display: flex;
        align-items: center;
        &__item {
            @include font(1.2rem, inherit, 1.5rem, rgba(0, 0, 0, 0.5));
            &:last-child > .breadcrumps-list__link {
                &::after {
                    display: none;
                }
            }
        }

        &__link {
            @include font(inherit, inherit, inherit, inherit);
            &::after {
                display: inline-block;
                @include space(padding, all, 0, 0.5rem, 0, 0.5rem);
                content: "/";
            }
        }
    }
    @media (max-width: $media-md) {
        height: 80px;
        &-list {
            display: none;
        }
        &__title {
            @include space(margin, top, 1rem);
        }
    }

    &--space {
        @include space(padding, all, 1.4rem, 0, 1.6rem, 0);

        @media (max-width: $media-lg) {
            @include space(padding, all, 1.4rem, 2.4rem, 1.6rem, 2.4rem);
        }

        @media (max-width: $media-md) {
            @include space(padding, all, 1.4rem, 2rem, 1.6rem, 2rem);
        }
    }
}