
// CATEGORY
.category {
    display: flex;
    height: 98px;
    &__item {
        flex: 1 1 50%;
        display: flex;

        &--bg-dog {
            background-color: var(--main-color);
            background-image: url("../icons/bg-dog.svg");
            background-blend-mode: overlay;
        }

        &--bg-cat {
            background-color: var(--bg-cat);
            background-image: url("../icons/bg-cat.svg");
            background-blend-mode: overlay;
        }
    }

    &__title {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;

        & h2 {
            display: block;
            line-height: 3.9rem;
            font-weight: 600;
            font-size: 3.2rem;
            color: #323232;
        }
    }

    @media (max-width: $media-md){
        height: 80px;
    }
}