.container{
    max-width: 560px;
    height: 100%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.title{
    padding: 5px 0;
    font-size: 26px;
    line-height: 30px;
}
.item{
    font-size: 20px;
    line-height: 26px;
}

.item a{
    padding: 3px 5px;
    margin: 5px 0;
    font-size: inherit;
    color: inherit;
    line-height: inherit;
    border: 1px solid goldenrod;
    opacity: 0.7;
    transition: all 250ms ease-in;
    border-radius: 5px;
}

.item a:hover,
.item a:focus,
.item a:active{
    color: #ffffff;
    background-color: goldenrod;
}
.item a:active{
    color: #ffffff;
    background-color: rgb(255, 183, 1);
}
