.filter-toggle > .btn-filter, .header__btn-wrp {
    display: flex;
    align-items: center;
    justify-content: center;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

:root {
    --fontSize: 14px;
    --font: "Montserrat", sans-serif;
    --fontColor: #000;
    --main-color: #fbba3c;
    --strong-cyan: #1abc9c;
    --dark-cyan: #16a085;
    --lime-green: #2ecc71;
    --moder-violet: #9b59b6;
    --very-dark-blue: #34495e;
    --vi-yellow: #f1c40f;
    --vi-orange: #e67e22;
    --bright-red: #e74c3c;
    --gray-blue: #bdc3c7;
    --cols: 12;
    --grid-gap: 24px;
    --span: 1;
    --card-span: 3;
    --card-col-gap: 16px;
    --card-row-gap: 24px;
    --card-img-h: 172px;
    --bg-cat: #e95342;
    --header-bg: #fff;
    --filter-bg: #F2F2F2;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body * {
    color: var(--fontColor);
    font-family: var(--font);
    font-size: 1.4rem;
}

ul {
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
}

input[type=text] {
    width: 100%;
    position: relative;
}

span {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
}

.input-text {
    display: block;
    width: 100%;
    font-size: 1.4rem;
    background-color: white;
    color: rgba(0, 0, 0, 0.2);
    line-height: 1.29;
    border-radius: 4px;
    font-family: var(--font);
    border: none;
}

.btn {
    display: inline-block;
    font-family: var(--font);
    line-height: 1.21;
    background-color: transparent;
    text-align: center;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 300ms ease-in;
    border-radius: 4px;
}
.btn--sm {
    min-width: auto;
    padding: 0;
    min-height: auto;
}
.btn--f {
    display: flex;
}
.btn--rounded {
    border-radius: 4px;
}
.btn--theme-main {
    background-color: var(--main-color);
}
.btn--theme-white {
    background-color: #fff;
    border: 1px solid #eaeaea;
}
.btn--xl {
    padding: 1.4rem 3.2rem;
}
@media (max-width: 1023px) {
    .btn--xl {
        padding: 1.4rem 2rem;
    }
}
.btn--l {
    padding: 1rem 2rem;
}
.btn--m {
    padding: 1rem 1.6rem;
}
.btn--s {
    padding: 0.7rem 2rem;
}

.btn-main {
    background-color: var(--main-color);
}
.btn-main--catalog {
    margin: 0 auto;
    width: 100%;
    max-width: 148px;
}
@media (max-width: 1023px) {
    .btn-main--catalog {
        width: auto;
    }
}

.btn-card {
    border-radius: 4px;
    background-color: var(--main-color);
}
.btn-card:hover {
    background-color: #fcd17d;
}
.btn-card:hover .card-body__title {
    color: #000;
}
.btn-card:active {
    background-color: #e19605;
}

.btn-filter {
    min-width: 0;
    padding: 0;
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5rem;
    color: #ff9702;
    background-color: transparent;
}

.btn-content {
    min-width: 0;
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.7rem;
    color: #000;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    min-height: 37px;
    display: block;
    margin: 0 auto;
}

.abs {
    position: absolute;
}

.bg {
    background-color: #f9f9f9;
    z-index: -1;
    width: 100%;
    height: 100%;
}
.bg::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 80px;
    background-color: #fff;
}

.cb__input {
    display: none;
}
.cb__input + .cb__content {
    position: relative;
    padding-left: 32px;
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: inherit;
}
.cb__input + .cb__content:before {
    position: absolute;
    content: "";
    width: 24px;
    height: 24px;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    background: url("../icons/icon_chechbox.svg");
}
.cb__input + .cb__content--rb:before {
    width: 18px;
    height: 18px;
    background: url("../icons/icon_rb.svg");
}
.cb__input:checked + .cb__content:before {
    background: url("../icons/icon_chechbox-checked.svg");
}
.cb__input:checked + .cb__content--rb:before {
    background: url("../icons/icon_rb-checked.svg");
}

.img-wrapper {
    position: relative;
    padding-bottom: 75%;
}

.img-inner {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-inner > img {
    max-width: 100%;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.show {
    display: block !important;
}
.show-f {
    display: flex !important;
}

.hide {
    display: none;
}

.form {
    min-width: 105px;
    height: 45px;
    display: flex;
    background-color: #fff;
    overflow: hidden;
    border-radius: 4px;
    position: relative;
}
.form__icon::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 16px;
    width: 18px;
    height: 18px;
    transform: translate(0, -50%);
    z-index: 1;
    background: url("../icons/icon_search.svg") center center/cover no-repeat;
}
.form__search {
    flex: 1 1 100%;
    height: 100%;
    transition: padding 300ms ease-in;
}
.form__search--icon-space {
    padding-left: 4.2rem;
}
.form__search--header {
    min-width: 105px;
    flex: 1 1 100%;
    border: 1px solid #fbba3c;
}
.form__search--focus:focus {
    color: #000;
    padding-left: 58px;
}
.form__search--filter {
    border: 1px solid transparent;
}
.form__search--filter:focus {
    border-color: #222;
}
.form__btn--header {
    background-color: #fbba3c;
    height: 100%;
    width: 100%;
    max-width: 111px;
}
.form__btn--header:focus {
    border: 1px solid #fbba3c;
}
@media (max-width: 1023px) {
    .form__btn--header {
        display: none;
    }
}

.wrapper {
    max-width: 1232px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-column-gap: var(--grid-gap);
    grid-template-columns: repeat(var(--cols), minmax(0, 1fr));
}
.grid-top {
    align-items: center;
}
.grid-main {
    grid-template-rows: auto;
    padding: 2.4rem 0 6.8rem 0;
}
@media (max-width: 1023px) {
    .grid-main {
        padding: 2.4rem 2.4rem 2.4rem 2.4rem;
    }
}
@media (max-width: 639px) {
    .grid-main-product-mob {
        padding: 2.4rem 0 5rem 0;
    }
}
.grid-item {
    min-width: 0;
    width: 100%;
    grid-column: span var(--span);
}
.grid-item--1 {
    --span: 1;
}
.grid-item--2 {
    --span: 2;
}
.grid-item--3 {
    --span: 3;
}
.grid-item--4 {
    --span: 4;
}
.grid-item--5 {
    --span: 5;
}
.grid-item--6 {
    --span: 6;
}
.grid-item--7 {
    --span: 7;
}
.grid-item--8 {
    --span: 8;
}
.grid-item--9 {
    --span: 9;
}
.grid-item--10 {
    --span: 10;
}
.grid-item--11 {
    --span: 11;
}
.grid-item--12 {
    --span: 12;
}
@media (max-width: 1023px) {
    .grid-item--full {
        --span: 12;
    }
}

.grid-card {
    grid-column: span var(--card-span);
}
@media (max-width: 1023px) {
    .grid-card {
        --card-span: 6;
    }
}
@media (max-width: 639px) {
    .grid-card {
        --card-span: 12;
    }
}

.filter-toggle > .btn-filter, .header__btn-wrp {
    display: flex;
    align-items: center;
    justify-content: center;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    background-color: var(--header-bg);
    height: 80px;
    position: relative;
}
.header__btn {
    display: flex;
}
.header__btn-icon {
    margin-right: 10px;
    width: 16px;
    height: 12px;
    fill: none;
}
@media (max-width: 1023px) {
    .header {
        padding: 0rem 2.4rem 0rem 2.4rem;
        grid-column-gap: 8px;
    }
    .header__logo-wrp {
        --span: 1;
    }
    .header__btn-wrp {
        width: auto;
        --span: 3;
    }
    .header__form {
        --span: 3;
    }
    .header__nav {
        --span: 5;
    }
}
@media (max-width: 639px) {
    .header {
        padding: 0rem 2rem 0rem 2rem;
    }
    .header__logo-wrp {
        --span: 3;
        order: 1;
        justify-content: flex-start;
    }
    .header__btn {
        margin: 0;
    }
    .header__btn-icon {
        margin-right: 0;
    }
    .header__btn-wrp {
        --span: 3;
        order: 3;
        justify-content: flex-end;
    }
    .header__btn-text {
        display: none;
    }
    .header__form {
        --span: 6;
        order: 2;
    }
    .header__nav {
        display: none;
        background-color: #fff;
        width: 100%;
        height: calc(100vh - 80px);
        position: fixed;
        top: 80px;
        left: 0;
        z-index: 50;
    }
}

.nav {
    display: flex;
    flex: 0 1 393px;
    justify-content: space-between;
}
.nav__link {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0.5rem 0 0.5rem;
}
.nav__link > h2 {
    display: block;
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.7rem;
    color: inherit;
}
@media (max-width: 639px) {
    .nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    .nav__item {
        margin-bottom: 2rem;
    }
    .nav__item:last-child {
        margin-bottom: 0;
    }
}

.breadcrumps {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    height: 98px;
}
.breadcrumps__title {
    margin-top: 1.4rem;
    font-family: inherit;
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 3.9rem;
    color: inherit;
}
.breadcrumps-list {
    display: flex;
    align-items: center;
}
.breadcrumps-list__item {
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: inherit;
    line-height: 1.5rem;
    color: rgba(0, 0, 0, 0.5);
}
.breadcrumps-list__item:last-child > .breadcrumps-list__link::after {
    display: none;
}
.breadcrumps-list__link {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
}
.breadcrumps-list__link::after {
    display: inline-block;
    padding: 0 0.5rem 0 0.5rem;
    content: "/";
}
@media (max-width: 639px) {
    .breadcrumps {
        height: 80px;
    }
    .breadcrumps-list {
        display: none;
    }
    .breadcrumps__title {
        margin-top: 1rem;
    }
}
.breadcrumps--space {
    padding: 1.4rem 0 1.6rem 0;
}
@media (max-width: 1023px) {
    .breadcrumps--space {
        padding: 1.4rem 2.4rem 1.6rem 2.4rem;
    }
}
@media (max-width: 639px) {
    .breadcrumps--space {
        padding: 1.4rem 2rem 1.6rem 2rem;
    }
}

.category {
    display: flex;
    height: 98px;
}
.category__item {
    flex: 1 1 50%;
    display: flex;
}
.category__item--bg-dog {
    background-color: var(--main-color);
    background-image: url("../icons/bg-dog.svg");
    background-blend-mode: overlay;
}
.category__item--bg-cat {
    background-color: var(--bg-cat);
    background-image: url("../icons/bg-cat.svg");
    background-blend-mode: overlay;
}
.category__title {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.category__title h2 {
    display: block;
    line-height: 3.9rem;
    font-weight: 600;
    font-size: 3.2rem;
    color: #323232;
}
@media (max-width: 639px) {
    .category {
        height: 80px;
    }
}

.filter {
    background-color: var(--filter-bg);
    border-radius: 8px;
}
.filter__title {
    padding: 1.6rem 1.6rem 1.4rem 1.6rem;
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.7rem;
    color: inherit;
}
.filter__btn {
    display: none;
}
@media (max-width: 1023px) {
    .filter {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        max-width: 320px;
        border-radius: 0px;
        box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
    }
    .filter__title {
        text-align: center;
    }
    .filter__btn {
        width: 20px;
        height: 20px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .filter__btn > svg {
        max-width: 100%;
    }
}

.filter-toggle {
    display: none;
}
.filter-toggle > .btn-filter {
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2rem;
    color: #fbba3c;
    margin-bottom: 1.6rem;
}
.filter-toggle > .btn-filter > span {
    margin-left: 0.5rem;
}
@media (max-width: 1023px) {
    .filter-toggle {
        display: block;
    }
}

.filter-section {
    padding: 14px 16px;
}
.filter-section__body {
    display: flex;
    flex-direction: column;
    padding-bottom: 14px;
}
.filter-section__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
}
.filter-section__link {
    display: block;
}
.filter-section__title {
    font-family: inherit;
    font-size: inherit;
    font-weight: 600;
    line-height: 1.7rem;
    color: inherit;
}
.filter-section__form {
    max-width: 280px;
    margin-bottom: 14px;
}

.filter-list {
    margin-bottom: 8px;
}
.filter-list__item {
    margin-bottom: 8px;
}
.filter-list__item:last-child {
    margin-bottom: 0;
}

.range-list {
    display: flex;
}
.range-list__item {
    display: flex;
    align-items: center;
    margin-right: 14px;
}
.range-list__item > .input-text {
    text-align: center;
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: inherit;
    line-height: 1.7rem;
    color: inherit;
    padding: 8px 14px;
    max-width: 70px;
    max-height: 30px;
}
.range-list__item > label {
    margin-right: 14px;
}

.divider {
    border-bottom: 1px solid #E8E8E8;
}

.card {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
}
.card > * {
    flex: 1 1 100%;
}
.card-body {
    display: flex;
    flex-wrap: wrap;
    padding: 8px 14px 14px 14px;
}
.card-body__title {
    flex: 1 1 100%;
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: inherit;
    line-height: 2rem;
    color: inherit;
    margin-bottom: 4px;
    transition: all 300ms ease-in;
}
.card-body__price {
    flex: 1 1 100%;
    font-family: inherit;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.4rem;
    color: inherit;
    margin-bottom: 8px;
}
.card-body__price--currency {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
}
.card-body__btn {
    flex: 1 1 100%;
    align-self: flex-end;
}
.card-body__btn > .btn-card {
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: 1.7rem;
    color: inherit;
}
@media (max-width: 1023px) {
    .card-body__btn > .btn-card {
        padding: 12px 20px;
    }
}
.card:hover .card-body__title {
    color: var(--main-color);
}

.cart {
    /* position: absolute;
    top: 0;
    right: 0;
    width: 686px; */
    max-width: 100%;
    /* background-color: #fff;
    z-index: 999;
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
    padding: 2.4rem 4rem 2.4rem 4rem; */
}
.cart__header {
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart__title {
    font-family: inherit;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 2.9rem;
    color: inherit;
    flex-grow: 1;
}
.cart__btn, .cart__total {
    text-align: center;
}
.cart__products {
    margin-bottom: 2.5rem;
}
.cart__total {
    margin-bottom: 2rem;
}
.cart__total--sum {
    font-family: inherit;
    font-size: inherit;
    font-weight: 600;
    line-height: 2.2rem;
    color: inherit;
    margin-left: 0.8rem;
}
@media (max-width: 639px) {
    .cart {
        padding: 1.6rem 0 1.6rem 0;
    }
    .cart__title {
        font-family: inherit;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 2rem;
        color: inherit;
        padding: 0 2rem 0 2rem;
        text-align: center;
    }
    .cart__header {
        padding: 0 2rem 0 2rem;
    }
}

.product {
    display: grid;
    padding: 1.4rem 0;
    grid-template-columns: auto auto auto 2fr 18px;
    align-items: center;
    grid-column-gap: 14px;
    list-style: none;
    border-bottom: 1px solid #e5e5e5;
}
.product--cart-size {
    grid-template-columns: 100px 2fr 3fr 2fr;
}
.product--header {
    grid-template-columns: 132px 1fr 18px;
}
.product__title {
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: inherit;
    line-height: 2rem;
    color: inherit;
}
.product__img {
    max-width: 100px;
    width: 100px;
    height: 79px;
}
.product__field + .product__img--wrp {
    position: relative;
    padding-left: 38px;
}
.product__qnt--custom {
    text-align: end;
}
.product-qnt {
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: inherit;
    line-height: 2rem;
    color: inherit;
}
.product-qnt__item {
    padding: 0 12px;
}
.product-qnt__btn {
    width: 24px;
    height: 24px;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
}
.product__del, .product__price {
    text-align: end;
}
.product__price {
    font-family: inherit;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.2rem;
    color: inherit;
}
.product__cart-icon {
    width: 18px;
    height: 18px;
}
@media (max-width: 639px) {
    .product {
        grid-template-columns: auto 1fr auto;
        padding: 1.4rem 2rem;
    }
    .product__cb {
        grid-row: span 2;
    }
    .product__cart-icon, .product__qnt {
        grid-row: 2;
    }
    .product__qnt {
        grid-column: 2;
    }
    .product__qnt--custom {
        grid-column: 3;
        grid-row: 1;
    }
    .product__price {
        grid-column: 1;
        text-align: right;
        margin-right: 20px;
    }
    .product__cart-icon {
        grid-column: 3;
    }
    .product__cart-icon--rst {
        grid-area: auto;
    }
}

.content {
    grid-gap: var(--card-row-gap) var(--card-col-gap);
    margin-bottom: 4.2rem;
}
@media (max-width: 1023px) {
    .content {
        --card-row-gap: 13px;
        --card-col-gap: 22px;
        --span: 12;
    }
}
@media (max-width: 639px) {
    .content {
        --card-row-gap: 24px;
    }
}

.icon-logo {
    width: 88px;
    height: 72px;
    fill: none;
    max-width: 100%;
}

.icon_phone {
    fill: white;
}